@font-face {
  font-family: Karla;
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Karla/Karla-Regular.ttf");
  font-display: swap;
}

@font-face {
  font-family: 'Libre Franklin';
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Libre_Franklin/LibreFranklin-Medium.ttf");
  font-display: swap;
}

@font-face {
  font-family: 'Libre Franklin';
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/Libre_Franklin/LibreFranklin-Bold.ttf");
  font-display: swap;
}

a {
  @apply text-blue;
}

a:hover, a:active {
  text-decoration: underline;
}

h1 {
  @apply font-accent;
  @apply font-bold;
  @apply text-4xl;
  @apply mb-4;
}

h3 {
  @apply font-accent;
  @apply font-bold;
  @apply text-lg;
  @apply mb-2;
}