@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind colors;

body {
  @apply bg-background;
  font-family: Karla;
  font-weight: 400;
}

a.nav-link {
  @apply text-black;
}

a.nav-link:hover {
  @apply text-blue;
  text-decoration: none;
}

a.nav-link.active {
  @apply text-blue;
}

a.link-block {
  @apply text-black;
  text-decoration: none;
}

a.link-block:hover, a.link-block:active {
  text-decoration: none;
}