@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind colors;

body {
  @apply bg-background;
  font-family: Karla;
  font-weight: 400;
}

a.nav-link {
  @apply text-black;
}

a.nav-link:hover {
  @apply text-blue;
  text-decoration: none;
}

a.nav-link.active {
  @apply text-blue;
}

a.link-block {
  @apply text-black;
  text-decoration: none;
}

a.link-block:hover, a.link-block:active {
  text-decoration: none;
}

.icon-linkedin > path {
  fill: #000;
  transition: fill 0.1s ease-in-out;
}

.icon-linkedin:hover > path, 
.icon-linkedin:active > path {
  fill: #0077b5;
}

.icon-twitter > path {
  fill: #000;
  transition: fill 0.1s ease-in-out;
}

.icon-twitter:hover > path, 
.icon-twitter:active > path {
  fill: #55acee;
}

.icon-spotify > path {
  fill: #000;
  transition: fill 0.1s ease-in-out;
}

.icon-spotify:hover > path, 
.icon-spotify:active > path {
  fill: #1ed760;
}

.icon-instagram > path {
  fill: #000;
  transition: fill 0.1s ease-in-out;
}

.icon-instagram:hover > path, 
.icon-instagram:active > path {
  fill: url('#instagram-gradient')
}